<nav class="nav" style="background-color: black; text-align: center; padding: 5px; margin: 0;">
    <ul>
        <l style="margin: 2px 10px;"><a href="/">Home</a></l>
        <l style="margin: 2px 10px;"><a href="/about">About us</a></l>
        <l style="margin: 2px 10px;"><a href="/contact">Contact Us</a></l>
    </ul>
</nav>