<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<style>
        body{
            margin: 0;
        }
a{
    text-decoration: none;
    color: aquamarine;
}
h1{
    text-align: center;
    color: rgb(93, 90, 87);
}
    </style>    <title><%= title %></title>

</head>
<body>
    <%- include("partials/navbar") %>
    <hr>
     <h1><%= title %></h1>
</body>

</html>